* {
    margin: 7;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #1B1B1B;
    padding: 30px;
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simbolo {
    color: #ffffff; /* Cor para o símbolo </> */
}

.nome {
    color: #9598b4; /* Cor para DevCordella */
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #E0E0E0;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #76C7C0;
    transform: scale(1.05);
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 4px;
    margin: 5px 0;
    background-color: #E0E0E0;
}

@media (max-width: 768px) {
    header {
        margin: 0;
        padding: 20px;
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #1B1B1B;
        padding: 20px;
        border-radius: 8px;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    .menu-toggle {
        display: block;
    }

    nav ul.active {
        display: flex;
    }
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    margin-top: -1%;
    width: 105%;
    margin-left: -3%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.5); /* Escurece a imagem para destacar o texto */
}

@media (max-width: 768px) {
    .hero img {
        margin: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E0E0E0;
}

.hero-text h2 {
    font-size: 3rem;
}

.hero-text p {
    font-size: 1.2rem;
}

/* About Section */
#about {
    padding: 40px 20px;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about .content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#about .column {
    flex: 1;
    padding: 10px;
}

#about p {
    font-size: 1rem;
    line-height: 1.6;
}

@media (max-width: 768px) {
    #about {
        padding: 20px;
    }

    #about h2 {
        font-size: 2rem;
        text-align: center;
    }
}

/* Services Section */
#services {
    padding: 40px 20px;
    background-color: #2D2D32;
    margin-left: -4%;
    margin-right: -3%;
}

#services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-left: 4%;
}

#services .content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 4%;
}

#services .column {
    flex: 1;
    padding: 10px;
}

@media (max-width: 768px) {
    #services {
        margin: 0;
        padding: 20px;
    }

    #services h2 {
        font-size: 2rem;
        text-align: center;
    }

    #services .content {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
}

/* Packages Section */
#packages {
    padding: 40px 20px;
}

#packages h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.package {
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 310px;
}

@media (max-width: 768px) {
    .package {
        width: 100%;
        margin: 15px 0;
    }
}

/* Footer */
footer {
    background-color: #333333;
    color: #E0E0E0;
    padding: 30px;
    text-align: center;
}
